<%= form_with model: @announcement, local: true do |form| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@announcement.errors.count, "error") %>
        Błąd podczas zapisywania ogłoszenia:
      </h2>
      <ul>
        <% @announcement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :auto %><br>
    <%= form.text_field :car %>
  </p>

  <p>
    <%= form.label :opis %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :cena %><br>
    <%= form.text_field :price %>
  </p>

  <p>
    <%= form.label :lokalizacja %><br>
    <%= form.text_field :location %>
  </p>

  <p>
    <%= form.label :rocznik %><br>
    <%= form.text_field :year %>
  </p>

  <p>
    <%= form.label :przebieg %><br>
    <%= form.text_field :mileage %>
  </p>

  <p>
    <%= form.label :pojemność %><br>
    <%= form.text_field :engine %>
  </p>

  <p>
    <%= form.label :paliwo %><br>
    <%= form.text_field :fuel %>
  </p>

  <p>
    <%= form.label :moc %><br>
    <%= form.text_field :power %>
  </p>

  <p>
    <%= form.label :stan %><br>
    <%= form.text_field :condition %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
