<%= form_with model: @announcement, local: true do |form| %>

  <% if @announcement.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@announcement.errors.count, "error") %>
        Błąd podczas zapisywania ogłoszenia:
      </h2>
      <ul>
        <% @announcement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :auto %><br>
    <%= form.text_field :car %>
  </p>

  <p>
    <%= form.label :opis %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
